/* You can add global styles to this file, and also import other style files */

html {
    margin: 0;
    overflow-y: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px darkgray dashed;
    overflow-y: hidden;
    margin: 0;
}

